#carousel-image {
    position: relative;
    width: 100cqi;
    aspect-ratio: 1.41/1.09;
    object-fit: contain;

    @media (width < 43.75rem) {
        width: 90%;
        display: flex;
        justify-content: center;
        position: relative;
    }
}