#call-to-action-content {
    container-type: inline-size;
    container-name: call-to-action-content;
    width: 34.375rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: clamp(1rem, 5cqi, 2rem);
}





