#top-nav-buttons {
    display: flex;
    gap: 4vw;

    @media (width < 43.75rem) {
        display: none;
    }
}


/* Comment me out! */

#top-nav-buttons .nav-button:not(:last-child) {
    color: var(--grey-700); 
}


/* Uncomment me!*/

/*.inactive-grey {
    color: var(--grey-700); 
} */