.faq-question {

    & > summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        font-size: 1.3rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        padding-right: 1.2rem;
        color: var(--grey-900);
        cursor: pointer;
        border-top: solid 0.125rem var(--grey-200);

        & > :first-child {
            margin-right: auto;
        }
    }

    &:last-child {
        border-bottom: solid 0.125rem var(--grey-200);
    }

    & span {
        font-size: clamp(1rem, 3.2cqi, 1.8rem);
    }
}
