#hero-left-side {
    container-type: inline-size;
    flex-grow: 1;
    padding-left: 10%;
    width: 50vw;

    @media (width <  43.75rem) {
        width: 100%;
        order: 2;
        text-align: center;
        align-items: center;
        padding: 0 5%;
    }
}
