#mobile-menu-header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    /* padding-bottom: clamp(2.5rem, 13.5vw, 4rem); */

    & > img {
        width: 10rem;
        max-width: 12.5rem;
        margin-right: auto;
    }
}