/* ================================================================ STYLES FOR DESCRIPTION BLOCKS ========================================================================== */

.description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1.5rem;
    width: 34.5%;
    line-height: 1.5;

    @media (width < 53.125rem) {
        width: 60%;
    }

    @media (width < 28.125rem) {
        width: 90%;
    }
}

.description > :first-child {
    color: var(--grey-900);
    font-size: 1.98rem;
    font-weight: 550;
    line-height: 1.2;

    @media(width <  43.75rem) {
        padding: 0 9%;
        font-size: clamp(1.5rem, 5.3vw, 2.7rem) 
    }
}

.description > :nth-child(2) {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--grey-300);
}

.description > .button-group  {
    display: flex;
    gap: 1rem;
}

.description.center {
    text-align: center;
} 
