* {
    padding: 0rem;
    margin: 0rem;
    font-family: "Rubik";
    box-sizing: border-box;
}

html {
    width: 100%;
}

#main {
    display: flex;
    flex-flow: column;
}

body {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
}

img {
    -webkit-user-select: none;
    user-select: none;
}
