#footer-nav-buttons {
    display: flex;
    color: var(--grey-200);
    gap: 3rem;

    @media(width <  43.75rem) {
        flex-flow: column;
        align-items: center;
        gap: 1.5rem;
        font-weight: 300;
    }

    & > * {
        margin: 0;
        font-weight: unset;
        font-size: clamp(0.75rem, 4vw, 1.1rem);
        @media(width <  43.75rem) {
            font-size: 1.3rem;
        }
    }
}