@use 'config' as c;

.call-to-action {
    container-type: inline-size;
    container-name: call-to-action-block;
    display: flex;
    background-color: c.$ui-blue;
    padding: 4rem 0;
    width: 100%;
    justify-content: center;
    
    @media (width < 43.75rem) {
        padding: 4rem 8vw;
    }
}

.call-to-action-content {
    container-type: inline-size;
    container-name: call-to-action-content;
    width: 34.375rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: clamp(1rem, 5cqi, 2rem);

    & > :first-child {
        font-variant: small-caps;
        letter-spacing: 0.375rem;
        font-weight: 500;
        color: white;   
        font-size: 1.1rem;

        @container call-to-action-content (width < 43.75rem) {
            font-size: clamp(0.42rem, 3.17cqi, 1.1rem);
        }
    }

    & > :nth-child(2) {
        width: 100%;
        font-size: 2.6rem;
        font-weight: 500;
        text-align: center;
        color: white;

        @container call-to-action-content (width < 43.75rem) {
            font-size: clamp(1rem, 7.5cqi, 2.6rem);
        }
    }
}

.contact-form {
    width: 100%;
    display: flex;
    gap: 1.25rem;
    justify-content: stretch;

    @media(width < 43.75rem) {
        width: 100%;
        flex-flow: column;
    }
}

.error-icon {
    visibility: hidden;
    position: absolute;
    top: 0.875rem;
    right: 0.875rem;
    z-index: 3;
}

.error-msg {
    display: none;
    position: relative;
    width: 100%;
    font-style: italic;
    background-color: c.$ui-red;
    z-index: 0;
    padding-left: 1.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    border-end-end-radius: c.$button-radius;
    border-end-start-radius: c.$button-radius;
    color: white;
    @media (width < 43.75rem) {
        font-size: clamp(0.7rem, 3vw, 1rem);
    }
}

.contact-input {
    position: relative;
    width: 100%;
    border-radius: c.$button-radius;
    border: none;
    padding: 0.938rem 0.875rem;
    flex-grow: 1;
    font-size: 1.1rem;
    z-index: 1;
    transition: box-shadow 0.3s;


    @media (width < 43.75rem) {
        font-size: clamp(0.7rem, 3vw, 1rem);
        padding: clamp(0.594rem, 4vw, 1.1rem);
    }

    &:hover {
        outline: none;
        box-shadow: inset 0 0 0.188rem 0.188rem rgb(181, 165, 250);
        transition: box-shadow 0.3s;
    }

    &:invalid {
        box-shadow: inset 0 0 0 0.188rem c.$ui-red;
        border-end-end-radius: 0;
        border-end-start-radius: 0;
    }

    &:invalid ~ .error-msg  {
        display: flex;
        align-items: center;
    }

    &:invalid ~ .error-icon {
    visibility: visible;
    }

    &::placeholder { 
        font-size: 1rem;
        color: c.$grey-400;

        @media (width < 43.75rem) {
            font-size: clamp(0.7rem, 3vw, 2rem);
        }
    }
}

.contact-input-block  { 
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contact-submit-button {
    padding: 1.1rem 1.6rem;
    align-self: start;

    @media (width < 43.75rem) {
        align-self: stretch;
        justify-content: center;
        font-size: clamp(0.8rem, 3vw, 1rem);
        display: flex;
        padding: clamp(0.594rem, 4vw, 1.1rem);
    }
}