.extensions {
    display: flex;
    align-items: start;
    width: 60%;
    justify-content: space-between;


    @media (width < 50rem) {
        width: 80%;
    };

    @media (width < 34.375rem) {
        width: 100%;
        padding: 0 20%;
        flex-direction: column;
        align-items: start;
        gap: 3.8rem;
    }
}