.extension-box {
    container-type: inline-size;
    container-name: extension-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 30%;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.563rem 0.625rem 0.063rem rgb(236, 236, 236);

    @media(width < 34.375rem) {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        border-radius: 0.625rem;
        box-shadow: 0rem 0.563rem 0.625rem 0.063rem rgb(236, 236, 236);
    }
 
    
    &:first-child {
        position: relative;


    }

    &:nth-child(2) {
        position: relative;
        top: 2.5rem;

        @media (width < 34.375rem) {
            top: 0;
        }
    }

    &:nth-child(3) {
        position: relative;
        top: 5rem;

        @media (width < 34.375rem) {
            top: 0;
        }
    }
}