.description-box {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: clamp(0.875rem, 12cqi, 2.25rem) 0;
    text-align: center;


    & > :first-child {
        width: 40cqi;
        margin-bottom: 2rem;

        @media (width <  43.75rem) {
            margin-bottom: 14cqi;

        }
    }

    & > :nth-child(2) {
        font-weight: 700;
        color: var(--grey-800);    
        font-size: clamp(1rem, 10cqi, 1.25rem);
        margin-bottom: 0.7rem;
    }

    & > :nth-child(3) {
        font-weight: 500;
        color: var(--grey-300);
        font-size: clamp(0.75rem, 8cqi, 1rem);
        /* font-size: 0.8rem; */
    }
}